@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 60 56% 91%;
    --foreground: 73 37% 14%;
    
    --card: 60 56% 91%;
    --card-foreground: 73 37% 14%;
 
    --popover: 60 56% 91%;
    --popover-foreground: 73 37% 14%;
 
    --primary: 28 67% 44%;
    --primary-foreground: 55 97% 94%;
 
    --secondary: 73 31% 32%;
    --secondary-foreground: 55 97% 94%;
 
    --muted: 32 57% 62%;
    --muted-foreground: 73 37% 14%;
 
    --accent: 32 57% 62%;
    --accent-foreground: 73 37% 14%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 56% 91%;

    --border: 73 31% 32%;
    --input: 73 31% 32%;
    --ring: 28 67% 44%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 73 37% 14%;
    --foreground: 55 97% 94%;
 
    --card: 73 37% 14%;
    --card-foreground: 55 97% 94%;
 
    --popover: 73 37% 14%;
    --popover-foreground: 55 97% 94%;
 
    --primary: 32 57% 62%;
    --primary-foreground: 73 37% 14%;
 
    --secondary: 73 31% 32%;
    --secondary-foreground: 55 97% 94%;
 
    --muted: 32 57% 62%;
    --muted-foreground: 55 97% 94%;
 
    --accent: 32 57% 62%;
    --accent-foreground: 73 37% 14%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 55 97% 94%;
 
    --border: 73 31% 32%;
    --input: 73 31% 32%;
    --ring: 32 57% 62%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

